:root {
    --init-color: black;
    --inv: 0;
}

body {
    margin: 1rem 20%;
}

header {
    border-bottom: 0.1rem solid gray;
    height: 4rem;
}

h1 {
    display: inline;
    float: left;
}

.about img {
    width: 20%;
    float: right;
}

p {
    font-size: 1.25rem;
}

header nav ul {
    padding-top: 1.3rem;
    list-style-type: none;
    display: flex;
    float: right;  
}

header nav ul li {
    margin: 0 1rem;
}

body {
    font-family: 'Cutive Mono', monospace;
}

.icon-container svg, .icon-container img {
    margin-right: 1rem;
    width: 3rem;
    filter: contrast(0);
    filter: brightness(0);
    transition: filter ease 0.7s;
}

.icon-container i {
    margin-right: 1rem;
    font-size: 3rem;
    filter: contrast(0);
    filter: brightness(0);
    transition: filter ease 0.7s;
}

.icon-container i:hover, .icon-container svg:hover, .icon-container i.hover, 
.icon-container svg.hover {
    filter: contrast(1);
    filter: brightness(1);
    transition: filter 0.7s;
}

.icon-container a {
    text-decoration: inherit;
}

a {
    color: black;
}

a:active {
    color: teal;
}

.projects ol {
    list-style-type: circle;
}

.dark-mode {
    float: right;
}

#dark-mode-label {
    display: flex;
    background-color: black;
    height: 1.5rem;
    width: 3rem;
    border-radius: 2rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 1rem;
    transition: all .5s ease-in-out;
    cursor: pointer;
    border: 0.25rem solid black;
}

#dark-mode-label .fa-moon {
    color: white;
}

#dark-mode-label .fa-sun {
    color: yellow;
}

#dark-mode-label .blob {
    position: absolute;
    right: 50%;
    width: 50%;
    height: 100%;
    background: rgb(143, 143, 143);
    border-radius: 2rem;
    transition: .5s ease all;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + #dark-mode-label .blob {
    right: 0;
}

.dark-mode-body {
    background-color: black;
    filter: invert(100%);
    transition: all 0.5s;
}

@media only screen and (prefers-color-scheme: dark) {
    :root {
        --init-bg-color: black;
        --inv: 1;
    }
}

body {
    background-color: var(--init-bg-color);
    filter: invert(var(--inv));
    transition: all 0.5s;
}

body.light-mode-body {
    background-color: white;
    filter: invert(0);
    transition: all 0.5s;
}

/* Responsive module */
@media only screen and (max-width: 1080px) {
    h1 {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    header {
        height: 6rem;
    }

    header nav ul {
        display: flex;
        width: 100%;
        float: none !important;
        justify-content: center;
        align-items: center;
        padding: 1rem 0 0 0;
    }
}

@media only screen and (max-width: 610px) {
    body {
        margin: 1rem 1rem;
    }

    header nav ul {
        justify-content: space-around;
        align-items: flex-end;
    }

}