body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    background-color: white;
    background-image: url(./images/bg.jpeg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    font-family: 'Roboto Mono', monospace, serif;
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
    line-height: 26.399999618530273px;
}

main {
    display: inline-block;
    width: 100%;
}

#skills {
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    float: right;
}

#skills img:not(#barbell) {
    padding: 6px 8px 6px 22px;
}

#skills ul {
    list-style-type: none;
}

#skills img:not(#barbell), address img, main a img {
    width: 50px;
    height: 50px;
}

#main-window p {
    display: inline-block;
    padding: 10px;
}

/* eyes */
#eye1, #eye2 {
    display: inline-block;
    height: 5px;
    width: 10px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: teal;
    opacity: 0%;
    position: absolute;
    top: 220px;
}

#eye1 {
    left: 92px;
}
#eye2 {
    left: 150px;
}

#my-face:hover + #eye1 {
    opacity: 50%;
}
#my-face:hover ~ #eye2 {
    opacity: 50%;
}

/* reach out */
main .reach-out-links a {
    text-decoration: none;
}

