body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
    background-color: white;
    background-image: url(./images/bg.jpeg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 1.25%;
}

header {
    font-family: 'Roboto Mono', monospace, serif;
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter; 
    line-height: 26.399999618530273px;
}

header h1 {
    font-size: 2.5rem;
    display: inline;
}

#date {
    font-weight: bold;
    float: right;
    height: 30px;
}

main {
    display: inline-block;
    width: 100%;
}

#skills {
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    float: right;
}

#skills img:not(#barbell) {
    padding: 6px 8px 6px 22px;
}

#skills ul {
    list-style-type: none;
}

#skills img:not(#barbell), address img, main a img {
    width: 50px;
    height: 50px;
}

.main-window p {
    font-weight: bold;
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .main-window p {
        font-size: 2rem;
    }
}

/* reach out */
main .reach-out-links a {
    text-decoration: none;
}

main .reach-out-links img:hover {
    filter: invert(50%) sepia(100%) hue-rotate(90deg);
}